[submodule "devenv/argocd"]
	path = devenv/argocd
	url = https://github.com/mikogs/project-template-apps-argocd.git
[submodule "devenv/prometheus"]
	path = devenv/prometheus
	url = https://github.com/mikogs/project-template-apps-prometheus.git
[submodule "devenv/grafana"]
	path = devenv/grafana
	url = https://github.com/mikogs/project-template-apps-grafana.git
[submodule "devenv/node"]
	path = devenv/node
	url = https://github.com/mikogs/project-template-apps-node.git
[submodule "testenv/node"]
	path = testenv/node
	url = https://github.com/mikogs/project-template-apps-node.git
[submodule "featureenvs/big-blob/node"]
	path = featureenvs/big-blob/node
	url = https://github.com/mikogs/project-template-apps-node.git
